{% extends 'layout.twig' %}

    {% block title %}
        Books
    {% endblock %}

    {% block content %}
        <table>
            <thead>
                <th>Title</th>
                <th>Author</th>
                <th></th>
            </thead>
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td><a href="/book/{{ book.id }}">View</a></td>
            </tr>
        {% endfor %}
        </table>

        {% if currentPage != 1 %}
            <a href="/books/{{ currentPage - 1 }}">Previous</a>
        {% endif %}

        {% if not lastPage %}
            <a href="/books/{{ currentPage + 1 }}">Next</a>
        {% endif %}

    {% endblock %}
